.text-title {
  margin: auto;
  font-size: calc(20px + 2vmin);
  color:  #5fd465;
  font-weight: 300;
}

.text {
  height: 20em;
  overflow-x: scroll;
  color: #ffffff ;
  padding: 3em;
  text-align: justify

}
