.instructions {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: lighter
  }
  
.text-area {
    width: 50%;
    height: 50%;
    display: flex;
}

.heading-instructions {
    font-size: calc(25px + 2vmin);
    font-weight: 200;
    color: #ffffff;
    text-align: justify
}

.blink-strength-link {
    color: #5fd465;
    font-size: calc(4px + 3vmin);
    font-weight: lighter
}
